@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <img src="~/Content/home_image.png" />
    </div>
    <div class="col-md-5">
        Description
    </div>
    <div class="col-md-4">
        
    </div>
</div>