@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-5  home-image">
        <img src="~/Content/home_image.png" />
    </div>
    <div class="col-md-7 home-description">
        I made this project to keep track of songs that I have. This Project consists of 2 Tables named Artists and Songs. This has been done using Visual Studio 2017 and this is a ASP.NET Framework Project (MVC).
        <br /><br />This is Assignment 1 of my "Server-Side Scripting -ASP.NET" course.
        <br /><br />This has information about artists like, <b>Name</b>, <b>Birthday</b>, <b>City</b>, <b>Country</b> <br />and
        information of songs like, <b>Name</b>, <b>Genere</b>, <b>length</b>, <b>Bitrate</b>, <b>Size</b>.
    </div>
</div>